nav.navbar.navbar-inverse
  margin-bottom: 0;


/*span bars */
.navbar-inverse .navbar-toggle .icon-bar
  background-color: #ffffff;

.redNav
    background-color: #cd183b;
    border-color: #cd183b;


  #brand
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 1px;


  ul.nav.navbar-nav li a
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 1px;


  .active
    color: #000000 !important;

@media screen and (min-width: 480px)
  ul.nav.navbar-nav
      float: right;
