
@font-face
  font-family: "Steelfish-online";
  src: url("fonts/steelfish/steelfishrg-webfont.eot");
  src:
  url("fonts/steelfish/steelfishrg-webfont.woff") format("woff"),
  url("fonts/steelfish/steelfishrg-webfont.svg") format("svg"),
  url("fonts/steelfish/steelfishrg-webfont.ttf") format("true type"),
  url("fonts/steelfish/steelfishrg-webfont.woff2") format("woff2");


@font-face
  font-family: "garamond-online";
  src: url("fonts/garamond/ebgaramond-regular-webfont.eot");
  src:
  url("fonts/garamond/ebgaramond-regular-webfont.woff") format("woff"),
  url("fonts/garamond/ebgaramond-regular-webfont.svg") format("svg"),
  url("fonts/garamond/EBGaramond-Regular.ttf") format("true type");


body
  font-family: 'Steelfish-online', 'Arial Narrow', Arial, sans-serif;


p, q
  font-family: "garamond-online";
  font-size: 18px;

.contain
  border: 1px solid gray;
  margin-bottom: 30px;

@import "_partial/nav"
